
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* Fonts */
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 400 1rem "Open Sans", Arial, sans-serif;
}

.logo {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    background:  url(../img/logo.png) 0 0 no-repeat;
    background-size: 70% auto;
}

#home {
    padding: 70px 0 65px;
    background: #c30 url(../img/bg-header.jpg) 0 0 no-repeat;
}

#home > header {
    margin: 0 auto;
    width: 960px;
    text-align: center;
}
#home > header .logo {
    width: 379px;
    height: 158px;
    background-size: inherit;
}
#home > header > p {
    margin: 20px 0 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff;
}
#home > header small {
    display: block;
    font-weight: normal;
    font-size: 60%;
}
#home > header > a {
    display: inline-block;
    margin: 0 0 10px;
    color: #fff;
    font: 1.5rem "BebasNeueRegular", Arial,sans-serif;
    text-decoration: none;
}
#home > nav:not([role="navigation"]) > ul {
    margin: 0 auto 55px;
    padding: 0;
    width: 719px;
}
#home > nav:not([role="navigation"]) > ul > li {
    display: inline-block;
    vertical-align: middle;
    width: 296px;
    text-align: center;
    background: #fff;
    padding: 5px 0;
    font-weight: bold;
    font-size: 1.6rem;
    transition: .2s ease-in;
    position: relative;
    left: 0;
}
#home > nav:not([role="navigation"]) > ul > li > a {
    text-decoration: none;
    color: #FC441A;
    display: block;
}

#home > nav:not([role="navigation"]) > ul > li:first-child,
#home > nav:not([role="navigation"]) > ul > li:last-child {
    padding: 10px 0 9px;
    width: 223px;
    font-size: 1.2rem;
    background: url(../img/left.svg) 0 0 no-repeat;
}
#home > nav:not([role="navigation"]) > ul > li:first-child:hover {
    left: -10px;
}
#home > nav:not([role="navigation"]) > ul > li:last-child {
    margin: 0 0 0 -22px;
    background: url(../img/right.svg) 0 0 no-repeat;
}
#home > nav:not([role="navigation"]) > ul > li:last-child:hover {
    left: 10px;
}
#home > nav:not([role="navigation"]) > ul > li:nth-child(2) {
    padding: 16px 0;
    margin: 0 0 0 -13px;
    width: 299px;
    background: url(../img/register.svg) -10px 0 no-repeat;
}
#home > nav:not([role="navigation"]) > ul > li:nth-child(2):hover {
    transform: scale(1.05);
}

#home > nav[role="navigation"] a {
    padding: 40px 0 0;
    color: #fff;
}

nav[role="navigation"] {
    text-align: center;
}
nav[role="navigation"] > ul {
    padding: 0;
    margin: 0 auto;
}
nav[role="navigation"] > ul > li {
    display: inline-block;
    width: 100px;
    text-align: center;
}

nav[role="navigation"] > ul > li > a {
    display: block;
    font: 1.1rem "BebasNeueRegular";
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
nav[role="navigation"] li:first-child a {
    background: url(../img/sprites.png) 24px 12px no-repeat;
}
nav[role="navigation"] li:nth-child(2) a {
    background: url(../img/sprites.png) -60px 0 no-repeat;
}
nav[role="navigation"] li:nth-child(3)  a {
    background: url(../img/sprites.png) -160px 8px no-repeat;
}
nav[role="navigation"] li:nth-child(4)  a {
    background: url(../img/sprites.png) -270px 8px no-repeat;
}
nav[role="navigation"] li:nth-child(5)  a {
    background: url(../img/sprites.png) -365px 7px no-repeat;
}
nav[role="navigation"] li:last-child a {
    background: url(../img/sprites.png) -468px 8px no-repeat;
}
.sticky-wrapper nav[role="navigation"] li a {
    padding: 30px 0 0;
    background-size: auto 34%;
    background-position: center 0;
    background-repeat: no-repeat;
}
.sticky-wrapper nav[role="navigation"] li:first-child a {
    background: url(../img/sprites.png) 30px -90px no-repeat;
}
.sticky-wrapper nav[role="navigation"] li:nth-child(2) a {
    background: url(../img/sprites.png) -60px -100px no-repeat;
}
.sticky-wrapper nav[role="navigation"] li:nth-child(3)  a {
    background: url(../img/sprites.png) -157px -95px no-repeat;
}
.sticky-wrapper nav[role="navigation"] li:nth-child(4)  a {
    background: url(../img/sprites.png) -266px -96px no-repeat;
}
.sticky-wrapper nav[role="navigation"] li:nth-child(5)  a {
    background: url(../img/sprites.png) -363px -93px no-repeat;
}
.sticky-wrapper nav[role="navigation"] li:last-child a {
    background: url(../img/sprites.png) -463px -93px no-repeat;
}

.logo > * {
    font: 1.1rem "BebasNeueRegular";
    color: #fff;
    margin: 0;
    padding: 0;
}
#main-header {
    position: relative;
    background: #eee;
    height: 60px;
    padding: 20px 0 0 0;
    width: 100%;
    z-index: 90;
}
#main-header .logo {
    background:  url(../img/logo-small.png) 0 0 no-repeat;
}
#main-header > .wrapper {
    width: 960px;
    margin: 0 auto;
}
#main-header > .wrapper > div {
    float: left;
}
#main-header > .wrapper > div {
    float: left;
}
#main-header > .wrapper > nav {
    float: right;
}
.register {
    display: inline-block;
    font-size: .7rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
#main-header .register {
    float: right;
    margin: 60px -530px 0 0;
    padding: 10px 0;
    width: 156px;
    height: 41px;
    background: url(../img/bg-register-btn.png) 0 0 no-repeat;
}
#home a[href="#register"].register {
    display: inline;
    background: inherit;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

body > section {
    padding: 80px 0 0 0;
}
body > section > header {
    width: 200px;
    margin: 0 auto 0 auto;
}
body > section > header > h1 {
    margin: 0 auto;
    padding: 0;
    color: #f03001;
    font: 2rem "BebasNeueRegular";
    text-align: center;
}
body > section > header > h2 {
    display: table;
    width: auto;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    color: #f03001;
    font-size: 1rem;
    font-weight: 100;
    font-style: italic;
}

#speakers .container ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    max-width: 860px;
    min-height: 1150px;
}
#speakers .container > ul > li > ul > li {
    position: relative;
    float: left;
    width: 180px;
    height: 142px;
    margin: 0 10px 20px 10px;
    text-align: center;
    overflow: hidden;
}
#speakers .container > ul > li > ul > li > figure > img {
    border-radius: 50px;
}
#speakers .container > ul > li > ul > li > figure > figcaption {
    font-size: .9rem;
    color: #333;
}
#speakers .container > ul > li > ul > li > .summary {
    margin: 0;
    font-size: .8rem;
    font-style: italic;
    color: #999;
}
#speakers .container > ul > li > ul > li > .body {
    display: none;
}
#speakers > .container > ul > li > ul > li {
    position: relative;
}
#speakers > .container a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent: -150%;
    overflow: hidden;
}

#schedule {
    background: #f9f9f9;
    border-top: 1px solid #ccc;
}
#schedule > .container {
    display: block;
    max-width: 960px;
    margin: 0 auto;
}
#schedule > .container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#schedule > .container > ul > li > ul {
    width: 40%;
}
#schedule > .container > ul {
}
.clear {
    clear: both;
}
#schedule > .container > ul > li > ul.room1 {
    float: left;
}
#schedule > .container > ul > li > ul.room2 {
    float: right;
    margin: 0 50px 0;
}
#schedule > .container li.break,
#schedule > .container li.lunch {
    width: 935px;
    height: 80px;
    background: #eee;
    vertical-align: middle;
    color: #999;
    font-size: 1.2rem;
    padding: 20px 0 0 20px;
}
#schedule > .container li.break {
    background-image: url('../img/break1.png');
}
#schedule > .container li.break:nth-child(8) {
    background-image: url('../img/break2.png');
}
#schedule > .container li.lunch {
    background-image: url('../img/lunch1.png');
}

#schedule > .container li.lunch:last-child {
    background-image: url('../img/lunch2.png');
    height: 120px;
}
#schedule > .container .room2 li.break,
#schedule > .container .room2 li.lunch {
    visibility: hidden;
    width: auto;
}
#schedule > .container li.talk {
    display: inline-block;
    position: relative;
    background: #fff;
    width: 370px;
    height: 134px;
    margin: 10px;
    padding: 10px 20px;
    color: #999;
}
#schedule > .container {
    margin-top: 60px;
}
#schedule > .container article h1 {
    float: right;
    font-size: 1.1rem;
    font-weight: normal;
    margin: 0;
    width: 150px;
    text-align: center;
}
#schedule > .container article h2 {
    float: right;
    font-size: .9rem;
    margin: 0;
    font-weight: bold;
}
#schedule > .container article figure {
    float: left;
    font-size: .9rem;
    font-weight: bold;
    margin: 0 10px 0;
}
#schedule > .container article p {
    float: right;
    width: 250px;
    margin: 20px 0 0 0;
    font-size: .8rem;
    font-weight: 100;
    font-style: italic;
}
#schedule > .container article a {
    display: block;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 44px;
    height: 44px;
    background: url(../img/btn-read-more.png) 0 0 no-repeat;
    text-indent: -200px;
    overflow: hidden;
    display: none;/*  TTEMEMMMMPP */
}

/*Desktop*/
#schedule > .container li li article header {
    width: 100%;
    text-align: center;
}
#schedule > .container li li:nth-child(11) {
    margin-top: 100px;
}
#schedule > .container li li article header h1 {
    display: none;
}
#schedule > .container li li:first-child article header h1,
#schedule > .container li li:nth-child(11) article header h1 {
    display: block;
    width: 100%;
    margin: -60px 0 0 0;
    text-align: center;
    color: #f03001;
    font: 1.4rem "BebasNeueRegular";
}
#schedule > .container li article img {
    border-radius: 80px;
    height: 100px;
    width: 100px;
}
#schedule > .container li article time {
    /*display: none;*/
}
#schedule > .container li(:first-child) article time {
    display: block;
}

/*dresscode*/
#dresscode {
    padding: 50px 0 0;
    height: 685px;
    background: #F7F7F7 url(../img/dresscode.jpg) center 0 no-repeat;
}
#dresscode h1 {
    padding: 55px 0 0;
    background: url(../img/sprites.png) -135px -450px no-repeat;
}
#dresscode h2 {
    background: none;
    font-size: 1.1rem;
}
#dresscode .container {
    width: 960px;
    margin: 0 auto;
    position: relative;
}
#dresscode .container a {
    position: absolute;
    right: 0;
    margin:350px 0 0;
    padding: 7px 30px;
    background: url(../img/bg-get-tee.png) 0 0 no-repeat;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
#dresscode .container a:hover {
    background: url(../img/bg-get-tee.png) 0 -46px no-repeat;
}
/* register */
body > #register,
body > #support-content {
    display: none;
}

/* sponsors */
#sponsors {
    background: #F7F7F7;
}
#sponsors .container > h2 {
    text-align: center;
    font-family: 'BebasNeueRegular';
    color: #f03001;
    font-size: 1.1em;
    margin-top: 40px;
}
#sponsors .container > ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}
#sponsors .container > ul > li {
    display: inline-block;
    width: 100px;
    margin: 0 20px;
}
#sponsors .container > .godfathers > li {
    width: 120px;
}
#sponsors .container > .supporters > li {
    width: 70px;
}
#sponsors .container > ul > li img {
    width: 100%;
}
#sponsors .register {
    display: block;
    width: 400px;
    height: 50px;
    margin: 30px auto 10px auto;
    padding: 15px 40px;
    text-align: center;
    font: normal 1.3rem 'BebasNeueRegular';
}
#sponsors .register span {
    display: block;
    background: #fff;
    color: #f03001;
    width: 50%;
    margin: 5px auto;
    padding-top: 2px;
    font: bold .8rem "Open Sans",​Arial,​sans-serif;
}



/* venue */
#venue {
    position: relative;
    display: inherit; /* fixed normalize */
    background: #F7F7F7;
}
#venue header {
    width: 100%;
    position: absolute;
    height: 201px;
    background: url(../img/bg-map.png) center 0 no-repeat;
    z-index: 3;
}
#venue header h1 {
    width: 200px;
    background: url(../img/sprites.png) -10px -397px no-repeat;
}
#venue .container {
    position: relative;
}
#venue article {
    position: absolute;
    right: 10%;
    bottom: 10%;
    display: block;
    width: 400px;
    height: 300px;
    background: #fff;
    z-index: 2;
    padding: 15px;
    overflow-y: scroll;
}
#venue article h1 {
    margin: 0;
    padding: 0 0 5px 0;
    color: #f03001;
    font: 1.2rem "BebasNeueRegular",Arial,sans-serif;
    border-bottom: 1px solid #ccc;
}
#venue article h2 {
    margin: 10px 0 0 0;
    padding: 0;
    color: #f03001;
    font-size: .9rem;
}
#venue article p, #venue article address, #venue article a {
    margin: 0;
    color: #999;
    font-size: .9rem;
}
#map {
    width: 100%;
    height: 500px;
}

#map {
    z-index: 1;
}

/* modal windows */

div#fallr-wrapper {
    background-color: #fff;
}


/* temporary disabled items */
section.disabled {
    display: none;
}
#home nav:not([role]) a.disabled {
    color: #fcb;
}
body nav li a.disabled {
    color: #999;
}

footer {
    background: #eee;
    height: 90px;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

footer > .wrapper {
    width: 960px;
    margin: auto;
}
footer .logo {
    background:  url(../img/logo-small.png) 0 0 no-repeat;
    height: 100px;
    float: left;
}
footer nav {
    float: right;
}
footer nav > ul {
    margin: 0;
    padding: 0;
}
footer nav > ul > li {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}
footer nav > ul > li:first-child {
    background: url(../img/sprites.png) 5px -753px no-repeat;
}
footer nav > ul > li:nth-child(2) {
    background: url(../img/sprites.png) -95px -753px no-repeat;
}
footer nav > ul > li:nth-child(3) {
    background: url(../img/sprites.png) -196px -753px no-repeat;
}
footer nav > ul > li > a {
    display: block;
    height: 76px;
    width: 60px;
    color: #666;
    font: normal 1rem "BebasNeueRegular",Arial,sans-serif;
    text-decoration: none;
}
footer .register {
    float: left;
    display: block;
    font-size: 1em;
    padding: 10px 0;
    margin: 0 0 0 70px;
    width: 224px;
    text-align: center;
    background: url(../img/bg-register-footer.png) 0 0 no-repeat;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
